:root{
    --pink:#d54483;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    transition: .1s linear;
    text-decoration: none;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:rgba(255, 51, 153,.05);
    
}

.list {font-size: 15px;
 }

.heading span{
    color:var(--pink);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:var(--pink);
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#f0d5e2;
    padding:2rem 9%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    
    
}

header .logo{
    font-size: 3rem;
    color:#333;
    font-weight: bold;
}

header .logo span{
    color:var(--pink);
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
    
}

header .navbar a:hover{
    color:var(--pink);
}


header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(images/slide-01.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color:#333;
}

.home .content span{
    font-size: 3.5rem;
    color:var(--pink);
    padding:1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:#999;
    padding:1rem 0;
    line-height: 1.5;
}

.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}

.about .row .content p{
    font-size: 1.5rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}
.about .content h2{
    color: #333;
    font-size: 2.5rem;
}
.about .content h3{
    color: #e02a79;
    font-size: 1.5rem;
}
.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.products .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.1);
    position: relative;    
}


.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow:hidden;
}

.products .box-container .box .image img{
    height:25rem;
}

.products .box-container .box:hover .image img{
    transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom:-7rem; left:0; right:0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
    bottom:0;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width:50%;
    background:var(--pink);
    color:#fff;
}

.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width:100%;
}

.products .box-container .box .image .icons a:hover{
    background:#333;
}

.products .box-container .box .content{
    padding:2rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2.5rem;
    color:#333;
}

.products .box-container .box .content .price{
    font-size: 2.5rem;
    color:var(--pink);
    font-weight: bolder;
    padding-top: 1rem;
}

.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color:#adaaaa;
    font-weight: lighter;
    text-decoration: line-through;
}


.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.contact .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--pink);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
}

.footer .box-container .box a:hover{
    color:var(--pink);
    text-decoration: underline;
}


.search-container {
display: flex;
align-items: center;
}

#search {
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
margin-right: 8px;
width: 200px;
margin-left: 50px;
}

#search-button {
padding: 8px 16px;
border: none;
background-color: #007bff;
color: #fff;
border-radius: 4px;
cursor: pointer;
}

#search-button:hover {
background-color: #0056b3;
}
.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    padding-bottom: 60px;
 }
 
 .container .content{
    text-align: center;
 }
 
 .container .content h3{
    font-size: 30px;
    color:#333;
 }
 
 .container .content h3 span{
    background: rgb(220, 20, 143);
    color:#fff;
    border-radius: 5px;
    padding:0 15px;
 }
 
 .container .content h1{
    font-size: 50px;
    color:#333;
 }
 
 .container .content h1 span{
    color:rgb(220, 20, 163);
 }
 
 .container .content p{
    font-size: 25px;
    margin-bottom: 20px;
 }
 
 .container .content .btn{
    display: inline-block;
    padding:10px 30px;
    font-size: 20px;
    background: #333;
    color:#fff;
    margin:0 5px;
    text-transform: capitalize;
 }
 
 .container .content .btn:hover{
    background: rgb(220, 20, 190);
 }
 
 .form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    padding-bottom: 60px;
    background: #eee;
 }
 
 .form-container form{
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #fff;
    text-align: center;
    width: 500px;
 }
 
 .form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color:#333;
 }
 
 .form-container form input,
 .form-container form select{
    width: 100%;
    padding:10px 15px;
    font-size: 17px;
    margin:8px 0;
    background: #eee;
    border-radius: 5px;
 }
 
 .form-container form select option{
    background: #fff;
 }
 
 .form-container form .form-btn{
    background: #fbd0d9;
    color:rgb(220, 20, 147);
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
 }
 
 .form-container form .form-btn:hover{
    background: rgb(220, 20, 133);
    color:#fff;
 }
 
 .form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color:#333;
 }
 
 .form-container form p a{
    color:rgb(199, 76, 148);
 }
 
 .form-container form .error-msg{
    margin:10px 0;
    display: block;
    background: rgb(240, 51, 218);
    color:#fff;
    border-radius: 5px;
    font-size: 20px;
    padding:10px;
 }
 .submit-btn {
    background-color: #a20d76; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.submit-btn:hover {
    background-color: #0056b3; /* Darker blue */
    color: white;
}
